
.lista-filmes-favoritos{
    margin-top: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    width: 100%;
}

.lista-sem-filmes{
    color: white;
    width: 100%;
    height: calc(100vh - 77px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 10pt;

}

.lista-filmes-favoritos h3{
    font-size: 10pt;
    margin-top: 5px;
}

.area-botoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.area-botoes button{
    margin: 20px;
    height: 50px;
    align-items: center;
}

.link-to-home{
    text-transform: lowercase;
    font-size: 10pt;
    margin: 20px;
    align-items: center;
    border-radius: 0;
}

.link-to-home:hover{
    cursor: pointer;
    background-color:#ff3838 ;
    border: unset;
    font-weight: bolder;
    border: 1px solid red;
}

.lista-filmes-favoritos img{
    width: 40vw;
    height: auto;
}

.lista-filmes-favoritos h1{
    font-size: 20pt;
    text-align: center;
}

.link-to-details{
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 12pt;
    text-align: center;
    width: 22vw;
    font-family: Arial, Helvetica, sans-serif;
    border: unset;
    align-items: center;
    height: 100%;
    font-weight: bolder;
}

.link-to-details:hover{
    cursor: pointer;
    background-color:#ff3838 ;
    border: unset;
    font-weight: bolder;
    border: 1px solid red;
}

.lista-filmes-favoritos button{
    margin-top: 20px;
    font-size: 12pt;
    width: 20vw;
    height: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    border: unset;
    font-weight: bolder;
}

.lista-filmes-favoritos button:hover{
    cursor: pointer;
    background-color:#ff3838 ;
    border: unset;
    font-weight: bolder;
    border: 1px solid red;
}