@media (min-width:290px){          
    .body{
        position: relative;
        top: 5vh;
    }

    .filme-info{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: white;
        text-align: center;
        margin-top: 7vh;
    }

    .filme-info img{
        width: 100vw;
        height: calc(width - 20vw);
    }

    .filme-info h1{
        font-size: clamp(1em, 1em + 1vw, 1.2em);
        margin: 20px;
    }

    .filme-info h2{
        font-size: clamp(1em, 1em + 1vw, 1.2em);
        margin: 20px;
    }

    .filme-info span{
        font-size: clamp(0.7em, 0.7em + 1vw, 1em);
        margin: 20px;
    }

    .avaliacao{
        font-size: clamp(1em, 1em + 1vw, 1.2em);
        font-weight: bolder;
    }

    .filme-info h3{
        font-size: clamp(0.7em, 0.7em + 1vw, 1.2em);
        margin: 20px;
    }

    .area-buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 20px;
        font-size: 40px;
    }

    .area-buttons button{
        width: 30vw;
        height: fit-content;
        border-radius: 4px;
        border: unset;
        font-weight: bolder;
        background-color: rgb(67, 67, 67);
        color: white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 2vw;
        margin-right: 2vw;
        padding: 5px;
        font-size: 15px;
        cursor: pointer;
    }

    .area-buttons button:hover{
        color: rgb(185, 34, 34);
        background-color: rgb(45, 45, 45);
    }

    .area-buttons a{
        text-decoration: none;
        color: white;
    }
    .area-buttons a:hover{
        color: rgb(185, 34, 34);
        background-color: rgb(45, 45, 45);
    }
}
