body{
    width: 100%;
    background-color: rgb(1, 1, 1);
    position: relative;
    top: 8vh;
}

.loading{
    color: white;
}

.lista-filmes{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lista-filmes strong{
    font-size: 1.2rem;
    color: white;
    width: 40vw;
    text-align: center;
    padding: 5px;
}

.lista-filmes img{
    width: 40vw;
    height: 50vw;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.filme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.link{
    width: 40vw;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 10pt;
    text-transform: uppercase;
    color: rgb(5, 4, 4);
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    cursor:pointer;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 5px;
}

.link:hover {
    color: rgb(5, 4, 4);
    background-color: rgb(254, 254, 254);
}